
.cabecera-inicio,
.cabecera
{
  -webkit-background-size: cover;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 ;
  position: relative; 
 }
.cabecera-inicio
{
  height: 50vh;
}

.cabecera-30h
{
 min-height: 250px; 
}

.contenedor-titulo
{
  position: absolute;
  
  z-index: 1;
  width: 100%;
  height: 100%;
  
  background-color: rgba(0,0,0,0.3);

}

.contenedor-titulo + .container{
  color: white;
  
  position: relative;
  z-index: 3;
}
