
/*  CHAt */


.chat
{
  &-contenedor
  {
    height: calc(100vh - 70px);
    overflow: hidden;
  }
  &-list
  {
    background-color: #fff;
    height: 100%;
    overflow-y: auto; 
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.07);
    position: relative;
    z-index: 100;
  }

  &-search
  {
    padding: 2rem 0;
    background-color: #fffff9;
  }

  &-item
  {

    display: flex;
    flex-direction: row;


    padding: 1rem;
    border-bottom: 1px solid #dadade;
    transition: all 0.3s ease;
    cursor:pointer;


    &:hover,
    .active
    {
      background-color: #f6f6f6;
    }
    input[type=search]
    {
      border-bottom: 1px solid $principal;
      padding: 1rem;
      width: 100%;
    }

    .imagen-chat
    {
      max-width: 40px;
      max-height: 40px ;
      overflow: hidden;
      border-radius: 100px;

      img
      {
        height: 100% !important;
        width: auto;

      }

    }

    .texto
    {
      padding-left: 1rem;
    }

    .fecha
    {
      float:right;
      font-size: 10px;
      color: #666;
      font-weight: bold;
      margin-left: 12px;

    }

    .nombre
    {
      font-weight: bold;
      font-size: 14px;

      text-transform: capitalize;
    }
    .mensaje
    {
      font-size: 11px;
    }
  }

  &-individual
  {
    position: relative;
    height: 100%;
    .chat
    {
      &-cabecera
      {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        padding-top:20px; 

        background-color: #fff;
        text-align: center;
        border-bottom: 1px solid #dadade;
        z-index: 2;
      }

      &-contenido
      {
        position: absolute;
        bottom: 60px;
        left: 0;
        z-index: 1;
        height: calc( 100% - 120px);
        width: 100%;
        overflow-y: auto;
      }

      &-entrada
      {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        background-color: #F5F5F5;
        width: 100%;
        height: 60px;


        display: flex;

        align-items: flex-end;
      }
    }
    .nombre
    {
      display: block;
      font-weight: bold;
      text-transform: capitalize;
    }

    .estado
    {
      position: relative;
      font-size: 10px;
      color: $verde;
      text-transform: uppercase;
    } 
    
    
    .ver-mas
    {
      font-size: 12px;
      letter-spacing: 1px;
      color: #acc3e1;
      text-transform: uppercase;
      text-align: center;
      margin: 2rem auto !important;
      cursor: pointer;
      margin: 2rem 1rem;

    }
    .mensaje
    {
      font-size: 16px;
      padding: 0.5rem 1rem;
      border-radius: 6px;

      box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0,0, 0.2);
      display: inline-block;
      max-width: 90%;

      &-entrada
      {
        margin: 1rem ;
        .mensaje
        {
          background-color: $principal;
          color: white;
        }

      }

      &-salida
      {
        margin: 1rem ;
        text-align: right;

        .mensaje
        {
          background-color: white !important;

        }
        
      }

      
    }

    
    

    .input-mensaje
    {
      width: calc(100% - 2rem);
      height: calc(100% - 1rem);
      background: white;
      border: 1px solid #D09FFF;
      margin: 0 auto;
      input
      {   padding-left: 1rem;

        height: 100%;
      }
    }

    .boton-mensaje
    {
      width: 3rem;
      padding: 1rem;
      i
      {

        font-size: 2rem;
        transition: all 0.3s ease;
        cursor:pointer;

        &:hover
        {
          color: $principal;
        }
      }
    }
  }

} 




