.comment
{
  .comment-imagen-profile
  {
    img
    {
      width: auto !important;
      height: 100% !important;
    }
  }

  .comment-imagen-profile
  {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    overflow: hidden;
  }
}

