

 
 
/* header search*/


.header-search
{
  .form-group
  {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  input[type="text"]
  {
    background-color: #fff;
    border-radius:4px 0px 0px 4px; ;
    height: 41px;
    padding-left: 1rem;
    font-size: 1.2rem;
    width: calc(100% - 45px);

  }

  button
  {
    background-color: #fff;
    color: $principal;
    font-size: 1.2rem;
    margin: 0;
    border-radius: 0px 4px 4px 0px;

    &:hover
    {
      background-color: $principal;
      color: white;
      font-size: 1.2rem;
      margin: 0;
      border-radius: 0px 4px 4px 0px;

    }
  }

}







.search-engine
{
  padding: 1rem;
}
.search-list
{
  position: absolute;
  background: white;
  max-height: 90vh;
  overflow-y: scroll;
  box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.3);
  /*opacity:0; */
  /*filter:alpha(opacity=0); */
  min-width: 270px;
  margin-top: -100vh;

  @media screen and (max-width: 991px)
  {
   position: relative;
   max-height: 200px;
 }

}


.search-engine:hover .search-list,
.dropdown:hover .search-list
{
  opacity:1; 
  filter:alpha(opacity=1); 
  margin-top: 0px !important;

}



