$principal:#17A2B8;
$principalhover:#12899B;
$principalclaro:#4AC1DB;
$principalxclaro:#A2D0FF;
$verde:#1BD622;
$verdehover:#35AE6B;
$rojo:#C9302C;
$rojohover:#B86300;
$gris:#929BB4;
$oscuro:#0B3552;
$blanco:#f5f5f5;
$transicionMenu:all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
 

 $size: (
    xs: 0px,
    sm: 545px,
    md: 768px,
    lg: 992px,
    xl: 1200px, 
   
  );

